@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #1e1e1e;
  --overlay-color: rgba(0, 0, 0, 0.8);
  --border-warning-color: #f59e0b;
  --border-bg-warning-color: #78350f33;
  --text-warning-color: #fbbf24;

  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.3s, color 0.3s;

}

[data-theme="light"] {
  --text-color: #424b57;
  --bg-color: #fcfbfc;
  --overlay-color: rgba(0, 0, 0, 0.65);
  --heading-color: #628dec;
  --border-color: #d5d4d4;
  --border-warning-color: #fde047;
  --border-bg-warning-color: #fefce8;
  --text-warning-color: #a16207;
}

[data-theme="admin"] {
  --text-color: #9e9e9e;
  --bg-color: #d5deef;
  --table-color: #f0f3fa;
  --heading-color: #395886;
  --border-color: #f85c5c;
  --border-warning-color: #f59e0b;
  --border-bg-warning-color: #78350f33;
  --text-warning-color: #ffd166;
  --button-color: #628ecb;
  --sidebar-color: #111827;
  --hover-color: #96bdf730;
  --btn-hover-color: #649ef4;
  --black-csf: #1f1f1fbe;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.6);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.8);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.6) transparent;
}